@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@keyframes crop-in { 0% { clip-path: polygon(0 0, 0 0, 100% 0, 100% 0) } 100% { clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0) } }
@keyframes crop-out { 0% { clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0) } 100% { clip-path: polygon(0 0, 0 0, 100% 0, 100% 0) } }
@media (max-width: 600px) {
	#dropdown {
		height: 100% !important; width: 100% !important;
		border: none !important;
		top: 0 !important; left: 0 !important;
		border-radius: 0 !important;
		text-align: center !important;
		animation: none !important;
	}
	#dropdown li { font-size: 20px !important; }
	#dropdown li:not(:nth-last-child(1)) { margin-bottom: 20px; }
	.dropdown-close { display: inline-block !important; }
	.dropdown-actions {
		display: inline-block; position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		width: fit-content;
	}
	.hamburger-menu { display: flex !important; }
	header :nth-child(4), header :nth-child(5) { display: none; }
	.dropdown-link { min-width: 100%; padding-right: 130px; }
	#dropdown.showing, #dropdown.hiding, #dropdown.hidden { animation: none !important; }
	#dropdown.hidden { display: none; }
	.page-title { text-align: center; }
	header .header--action a span { display: block; }
	#dropdown.hiding { display: none !important; }
	#dropdown-arrow { transform: none !important; }
}
@media (max-width: 800px) { header .header--action:not(.selected) i { margin-right: 0px; } header .header--action:not(.selected) span:nth-child(2) { display: none; }  }
* { box-sizing: border-box; }
*:not(a) { color: var(--bg-alt); }
[onclick] { cursor: pointer; }
html, body { height: 100vh; }
html, body, main { margin: 0; background-color: var(--bg); overflow-x: hidden; }
:not(.allowSelect) { user-select: none; }
img { vertical-align: initial !important; }
main { padding: 20px; }
header, #dropdown, .modal { z-index: 99; }
*:not(.far):not(.fad):not(.fas):not(.fal) { font-family: 'Open Sans', Arial, Helvetica, sans-serif; outline: none; }
* { box-sizing: border-box !important; -webkit-tap-highlight-color: #0000; color: var(--bg-alt); }
body { margin: 0; height: 100vh; }
.center { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
*[onclick] { cursor: pointer; }
header {
    padding: 10px;
    position: sticky; top: 0;
	width: 100%;
    box-sizing: border-box !important;
}
header, .dropdown-link { display: inline-flex; }
header > *, .dropdown-link * { margin-top: auto; margin-bottom: auto; }
.dropdown-link * { color: var(--bg-alt) !important; }
.header--vertical-separator {
    max-width: 1px; min-width: 1px;
    display: inline-block;
    margin: 0 15px !important;
    background-color: var(--bg-alt-alpha);
}
.header--logo, .user-photo { height: 40px; width: 40px; }
.user-photo {
	background-size: cover; background-position: center;
    margin-right: 7.5px;
	border-radius: 7.5px;
	max-height: 40px; min-height: 40px; max-width: 40px; min-width: 40px;
}
.user-photo, .user-info { display: inline-block; }
#dropdown {
    border-radius: 0 0 10px 10px;
    padding: 15px;
    position: absolute; display: none;
}
#dropdown.showing { animation: crop-in .2s ease-in-out running; display: block; }
#dropdown.showed { animation: none; display: block; }
#dropdown.hiding { animation: crop-out .2s ease-in-out running; display: block; }
#dropdown.hidden { animation: none; display: none; }
#dropdown-arrow {
	margin-left: 7px;
	position: relative;
	top: 1.25px;
	transition: .3s transform;
	height: 14px;
}
.dropdown-actions, .hamburger--actions {
	margin: 0; padding: 0;
    display: inline-block;
    list-style: none;
}
.dropdown-action:not(:nth-last-child(1)) { margin-bottom: 20px; }
.user-info * { margin: 0; }
.header--actions, .dropdown-actions, .user-info .name { font-size: 14.5px; }
.user-info .status { font-size: 13px; position: relative; top: -2px; }
.header--actions, .hamburger-actions {
	padding: 0;
    display: inline-flex;
	list-style: none;
	white-space: nowrap;
}
.header--action { margin-right: 15px; }
.header--action.selected span { font-weight: bold; }
.dropdown-actions li *, .header--actions li *, .hamburger--actions li * { text-decoration: none; color: var(--accent); }
.dropdown-action a i, .header--action a i {
	margin-right: 5px;
	font-size: 16px;
}
.modal {
	position: absolute;
	display: flex;
	top: 0; left: 0;
	box-sizing: border-box;
	height: 100%; width: 100%;
	z-index: 999;
	transition: opacity .3s ease-in-out;
}
.close i {
	font-size: 27.5px;
    height: fit-content;
    line-height: 17.19px;
    position: absolute;
	right: 11px; top: 12px;
	color: var(--bg-alt) !important;
}
#picture-modal > div :not(:nth-last-child(1)), #password-modal > div :not(:nth-last-child(1)) { margin-bottom: 20px; }
button { position: relative; top: -1px; margin: auto; }
.picture-label { width: fit-content; }
.picture-label, button {
	background: #0000;
	border: solid var(--bg-alt) 1px;
	color: var(--bg-alt) !important;
	padding: 5px 10px; margin: auto;
	display: block;
	font-size: 16px;
	border-radius: 99px;
}
.big-logo { height: 80px; width: 80px; margin: auto auto 40px auto !important; display: block; }
.picture-file-name { text-align: center; font-size: 14px; color: var(--bg-alt); }
.picture-input {
	width: 0.1px; height: 0.1px;
	opacity: 0;
	position: absolute;
	top: 0; left: 0;
}
.close { display: inline-block; position: absolute; top: 10px; right: 10px; }
.hamburger-menu {
	display: none; position: absolute;
	font-size: 22.5px;
	right: 0; top: 0;
	height: 60px; width: 60px;
}
.hamburger-menu i { margin: auto; height: 18.5px; color: var(--bg-alt) !important; }
.dropdown-close { display: none; }
.hamburger--actions { text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.hamburger--actions li:not(:nth-last-child(1)) { margin-bottom: 20px; }
.hamburger--actions li { margin-right: 0; font-size: 20px; }
#hamburger-menu-modal { display: none; }
.modal .close i { color: var(--bg-alt) !important; }
.page-title { margin: 0 0 20px 0; font-size: 27.5px; color: var(--accent); }
.page-title i { margin-right: 8px; color: var(--accent); }
.notify-dot::before {
	content: '';
	height: 5px;
	width: 5px;
	background-color: var(--accent);
	display: inline-block;
	border-radius: 50vh;
	position: relative;
    top: -2.1px;
    margin-left: 4px;
}
.hamburger--actions { width: 100%; }
.header--action .fad.fa-external-link { font-size: 12px; position: relative; top: -0.8px; margin-left: 5px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0; }
.hint { font-size: 14px; margin: 0 !important; font-style: normal; display: inline-block; }
.hint .fad { margin-right: 5px; }
.password-modal--input { min-width: 100%; }
.blurry-bg { background-color: var(--bg-semi-alpha); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); }
input, select { border-radius: 0; /* Patch for Safari */ }
input[type=text], input[type=password] {
    display: block;
    padding: 5px 10px;
    border: solid var(--bg-alt);
    border-width: 0 0 1px 0;
    background: none;
    color: var(--bg-alt);
    width: 275px;
    font-size: 16px;
}
a, a * { color: var(--accent) !important; cursor: pointer; text-decoration: none; }