.dash-container {
    display: grid;
    gap: 20px;
    grid-template-areas: "motivation motivation motivation motivation"
                         "marks marks events notifications";
}
@media (max-width: 800px) {
    .dash-container {
        grid-template-areas: "motivation motivation"
                             "events notifications"
                             "marks marks";
    }
}
@media (max-width: 600px) {
    .dash-container {
        grid-template-areas: "motivation"
                             "events"
                             "notifications"
                             "marks";
    }
}
.motivation-dash-block { grid-area: motivation; }
.events-dash-block { grid-area: events; }
.notifications-dash-block { grid-area: notifications; }
.marks-dash-block { grid-area: marks; }
.dash-block {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 12.5px;
    background: linear-gradient(to bottom right, var(--accent-light), var(--accent-dark));
}
.dash-block-inner {
    padding: 15px;
    border-radius: 8.5px;
    background-color: var(--bg);
}
.dash-block .dash-block-title h3 i {
    margin-right: 7.5px;
}
.dash-block-content {
    margin: 5px 0 0 0;
    flex: 1 1 auto;
}
#markGraph {
    width: 100%;
    height: 200px;
}