.motivation-dash-block { margin-bottom: 20px; }
.dash-container { display: grid; gap: 20px; }
.dash-block {
    display: flex; flex-direction: column;
    padding: 5px;
    border-radius: 12.5px;
    background: linear-gradient(to bottom right, var(--accent-light), var(--accent-dark));
}
.dash-block-inner {
    padding: 15px;
    border-radius: 8.5px;
    background-color: var(--bg);
}
.dash-block .dash-block-title * { white-space: nowrap !important; color: var(--bg-alt) !important; }
.dash-block .dash-block-title h3 { display: inline-block; color: var(--bg-alt); }
.dash-block .dash-block-title h3 i { margin-right: 7.5px; }
.dash-block-content { margin: 5px 0 0 0; flex: 1 1 auto; }
#markGraph:not([src]) { display: none; }
#markGraph[src] { width: 100%; min-height: 200px; height: 100%; margin: 0; padding: 0; border: none; }
.event, .notification { white-space: nowrap; display: flex; }
.event p, .notification p { white-space: normal; }
.event:not(:nth-last-child(1)), .notification:not(:nth-last-child(1)) { margin-bottom: 15px; }
.event > div > *, .notification > div > * { display: inline-block; }
.event p, .notification p { margin: 0; }
.event .details, .notification .details { font-size: 0.9em; }
.event i:nth-child(1), .notification i:nth-child(1) { float: left; margin-right: 12px; position: relative; top: 5px; }
.delete-notification { margin: auto 0 auto auto; }
.notification .clickable { display: inline-flex; }
.dash-block .dash-block-title .action {
    float: right;
    font-size: 16px;
    position: relative;
    top: 5px;
    color: var(--accent);
    margin-left: 10px;
}
body.student .birthday-dash-block, body.teacher .marks-dash-block { display: none }
#new-event-modal textarea {
    display: block;
    width: 100% !important; resize: vertical;
    min-height: 34px;
    background-color: #0000;
    border: solid var(--bg-alt) 1px;
}
@media (min-width: 801px) {
    .notification .delete-notification { visibility: hidden; }
    .notification:hover .delete-notification { visibility: visible; }
    .dash-block-content { overflow-x: hidden; overflow-y: auto; height: 60vh; }
    body .dash-container { grid-template-columns: 2.25fr 1fr 1fr; }
    body.teacher .dash-container { grid-template-columns: 1fr 1fr 1fr; }
}
@media (max-width: 900px) {
    .dash-container { grid-template-columns: 100%; }
    .dash-block .dash-block-title { text-align: center; }
}
@media (max-width: 800px) {
    body .dash-container { grid-template-columns: 1fr; }
    .delete-notification { padding: 13px; padding-right: 0; }
    #new-event-modal textarea {
        display: block;
        width: 100%; height: 150px;
        background-color: #0000;
        border: solid var(--bg-alt) 1px;
    }
    #new-event-modal .title-controls { margin-left: auto; }
    #new-event-modal .title-controls span { display: none; }
    #new-event-modal .control i { margin-right: 0; }
    #new-event-modal .control:not(:nth-last-child(1)) { margin-right: 5px; }
}


/**/

#new-event-modal h3 { margin-bottom: 10px; }
#new-event-modal h3 i { margin-right: 5px; }
#new-event-modal ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
#new-event-modal .myClassesAndStudents { margin-top: 20px; display: grid; gap: 20px; }
#new-event-modal .class input[type=radio], .student input[type=checkbox] { margin: 0 5px 0 0; }
#new-event-modal .student { display: flex; }
#new-event-modal .student > * { margin-top: auto; margin-bottom: auto; }
#new-event-modal .control:not(:nth-last-child(1)) { margin-right: 10px; }
#new-event-modal h3, #new-event-modal .title-controls { display: inline-block; }
#new-event-modal .title-controls { margin-left: 10px; margin-bottom: 10px; }
#new-event-modal .control i { margin-right: 5px; }
#new-event-modal .control:not(:nth-last-child(1)) { margin-right: 10px; }