body, main, #root, #manager { display: flex; flex-direction: column; }

body { position: relative; }

.tabs { display: flex; width: 100%; }
.tab { display: inline-flex; background-color: var(--bg-shade2); padding: 20px; width: 100%; }
.tab:nth-child(1) { border-radius: 10px 0 0 0; }
.tab i { margin-right: 5px; }
.tab.selected { background-color: var(--bg-shade3); }
.tab div { margin: auto; }
.content { background-color: var(--bg-shade1); padding: 20px; border-radius: 0 0 10px 10px; }
.info-container { display: grid; gap: 20px; }
.content#users .info-container ~ div { margin-top: 20px; }
.content-title { margin-bottom: 20px; }

#users .password-input > div { display: flex; }
#users .password-input > div > * { margin-top: auto; margin-bottom: auto; }
#users .password-input > div > .reveal { min-width: max-content; margin-left: .6em; }

aside { border: solid 1px var(--bg-alt); }
iframe { border: none; }

.toggle {
    display: inline-block;
    position: relative;
    width: var(--l-width);
    height: var(--l-height);
    --l-margin: 3px;
    --l-border: 1px;
    --l-size: 45px;
    --l-width: calc(var(--l-size) + (var(--l-margin) * 2));
    --l-height: calc(var(--l-size) / 2);
    --l-animation-duration: .125s;
}
.toggle input { opacity: 0; height: 0; width: 0; margin: 0; }
.toggle input + span {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border: solid var(--l-border) var(--bg-alt);
    border-radius: 99px;
    transition: var(--l-animation-duration) all ease-in-out;
}
.toggle input + span::before {
    content: '';
    border: none;
    position: absolute;
    --l-horizontal-pos: calc(var(--l-margin));
    top: var(--l-horizontal-pos);
    bottom: var(--l-horizontal-pos);
    left: var(--l-horizontal-pos);
    --l-slider-size: calc(((var(--l-width) - (var(--l-margin) * 6)) / 2) - (var(--l-border) * 2));
    width: var(--l-slider-size);
    background-color: var(--bg-alt);
    border-radius: 99px;
    transition: var(--l-animation-duration) all;
}
.toggle input:checked + span { background-color: var(--accent); border-color: var(--accent); }
.toggle input:checked + span::before { transform: translateX(calc(var(--l-width) - (var(--l-margin) * 2) - (var(--l-border) * 2) - var(--l-slider-size))); background-color: #fff; }

@media (min-width: 601px) {
    html, body, main, #root, #manager, .content { height: 100%; }
    .tab:nth-last-child(1) { border-radius: 0 10px 0 0; }
    
    .content#users { display: grid; grid-template-columns: .1fr 1fr; }
    .content#users .info-container { grid-template-columns: repeat(3, 1fr); }
    .content#users .info-container .isAdmin-input { display: flex; flex-direction: column; }
    .content#users .info-container .isAdmin-input .toggle { margin: auto 0 0 0; }
    .actual-content { padding: 0 20px; display: flex; flex-direction: column; }
    .actual-content > button { margin-top: auto; margin-bottom: 0; }

    aside, aside iframe { height: 100%; }
    aside { padding: 0 20px 0 0; border-width: 0 1px 0 0; width: 20vw; }
    iframe { width: 100% }
}
@media (max-width: 600px) {
    .tabs { display: block }
    .tab { padding: 10px; }
    .tab:nth-child(1) { border-radius: 10px 10px 0 0; }

    .content#users .info-container .isAdmin-input .toggle { margin: 0 0 0 .3em; }
    .actual-content { padding: 20px 0 0 0; }

    aside { padding: 0 0 20px 0; border-width: 0 0 1px 0; }
    aside iframe { height: 100% }
    aside, aside iframe { width: 100%; max-height: 50vh; }
}