/* STUDENTS */
@media (min-width: 800px) { .period-content { grid-template-areas: "a a"; } }
@media (min-width: 1150px) { .period-content { grid-template-areas: "a a a"; } }
.period:not(:nth-last-child(1)) { margin-bottom: 20px; }
.period, .subject { border-radius: 10px; border: solid .5px var(--bg-alt-super-alpha) }
.period > * { padding: 12.5px; }
.subject > * { padding: 10px; }
.period-title {
    background-color: var(--bg-darker3);
    border-radius: 10px 10px 0 0;
}
.period-content {
    background-color: var(--bg-darker1);
    border-radius: 0 0 10px 10px;
    display: grid;
    gap: 10px;
}
.subject-title {
    background-color: var(--bg-darker2);
    border-radius: 10px 10px 0 0;
}
.subject-content { border-radius: 0 0 10px 10px; }
.mark * { display: inline-block; }
.mark-content { float: right; }



/* TEACHERS */
.tabs { display: grid; grid-template-areas: "a a"; }
.tab { display: inline-flex; background-color: var(--bg-darker2); padding: 20px; }
.tab:nth-child(1) { border-radius: 10px 0 0 0; } .tab:nth-last-child(1) { border-radius: 0 10px 0 0; }
.tab i { margin-right: 5px; }
.tab.selected { background-color: var(--bg-darker3); }
.tabs a div { margin: auto; }
.content { gap: 10px; background-color: var(--bg-darker1); padding: 20px; border-radius: 0 0 10px 10px; display: grid; }
.content.submit-marks { grid-template-areas: "myclasses students"
                                             "markinfo markinfo"
                                             "submit submit"; }
.myclasses-block { grid-area: myclasses }
.students-block { grid-area: students }
.markinfo-block { grid-area: markinfo; }
.submit-block { grid-area: submit; }
.markinfo-block > div { display: grid; grid-template-areas: "a a"; gap: 10px; }
.content.submit-marks h3 { margin-bottom: 10px; }
.content.submit-marks h3 i { margin-right: 5px; }
.content.submit-marks ul {
    background-color: var(--bg-darker2);
    margin: 0;
    border-radius: 10px;
    list-style-type: none;
    padding: 10px 0;
}
.content.submit-marks ul li { padding: 0 10px; }
.class input[type=radio], .student input[type=checkbox] { margin-left: 0; margin-right: 5px; }
.student input:not(:checked) + label + .markInput { display: none; }
.student { display: flex; }
.student > * { margin-top: auto; margin-bottom: auto; }
:not(li.controls) .control:not(:nth-last-child(1)) { margin-right: 10px; }
.markInput {
	display: inline-block;
	padding: 5px 10px;
    border: solid var(--bg-alt);
	border-width: 0 0 1px 0;
	margin-left: auto;
	white-space: nowrap;
}
.markInput * { color: var(--bg-alt); font-size: 16px; }
.markInput input[type=number] {
	background: #0000;
	border: none;
	width: 32px;
	margin-right: 2.5px;
}
.markInput input[type=number]::-webkit-outer-spin-button, .markInput input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.markInput input[type=number] { -moz-appearance: textfield; }
h3, .title-controls { display: inline-block; }
.title-controls { margin-left: 5px; margin-bottom: 10px; }
.control i { margin-right: 5px; }
.control:not(:nth-last-child(1)) { margin-right: 10px; }
.markinfo-block input { width: -webkit-fill-available; }
.subject-chooser-div select {
    display: block;
    padding: 5px 10px;
    border: solid var(--bg-alt);
    border-width: 0 0 1px 0;
    background: none;
    color: var(--bg-alt);
    width: -webkit-fill-available;
    font-size: 16px;
    box-sizing: content-box !important;
    height: 22px;
}
.submit-block button.submit { margin-top: 10px; }

@media (max-width: 600px) {
    .tabs { grid-template-areas: "a"; }
    .tab { padding: 10px; }
    .tab:nth-child(1) { border-radius: 10px 10px 0 0; }
    .tab:nth-last-child(1) { border-radius: 0 0 0 0; }
    .content.submit-marks { grid-template-areas: "myclasses"
                                                 "students"
                                                 "markinfo"
                                                 "submit"; gap: 25px; }
    .title-controls span { display: none; }
    .control i { margin-right: 0; }
    .control:not(:nth-last-child(1)) { margin-right: 5px; }
    .markinfo-block > div { grid-template-areas: "a"; }
    .submit-block button.submit { margin-top: 0; }
}